<nav class="navbar navbar-default" role="navigation">
<span><h1>TinyApp</h1></span>
<span><form method="POST" action ="/login">
            <input type="text" name="username"> <button type="submit">Login</button></form>
</span>

</nav>
