<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>tinyApp</h1>
    <% if (user) { %>
      <p>Welcome, <%= user.email %>! <form method="POST" action="/logout"><input type="submit" value="Log out"></form>
      </p>
    <% } else { %>
      You are not logged in. Please <a href="/login">log in</a> or <a href="/register">register</a> to use TinyApp.
    <% } %>
  </body>
</html>
