<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h2>tinyApp</h2>
    <% if (username) { %>
      <p>Welcome back, <%= username %>!</p>
      <form method="POST" action="/logout"><input type="submit" value="Log out">
      </form>
    <% } %>
  </body>
</html>
