<!doctype html>
<html>
  <head>
    <title>TinyApp Header</title>
  </head>
  <body>
    <h2>TinyApp</h2>
    <form method="POST" action="/login">
      <input type="text" name="username" placeholder="Your email address">
      <input type="submit" value="Login">
		</form>
</html>
