<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h2>tinyApp</h2>
    <% if (user) { %>
      <p>Logged in: <%= user.email %></p>
      <form method="POST" action="/logout"><input type="submit" value="Log out">
      </form>
    <% } else { %>
      You are not logged in. Please <a href="/login">log in</a> or <a href="/register">register</a> to use TinyApp.
    <% } %>
  </body>
</html>
