<!doctype html>
<html>
  <head>
    <title>TinyApp Header</title>
  </head>
  <body>
    <h2>Welcome to Our App</h2>
    <% if (loggedIn) { %>

      <a href="/logout" title="Logout">Logout</a>
    <% } else { %>
      <a href="/login" title="Login">Login</a>
    <% } %>
  </body>
</html>
