<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <% include partials/_header %>
    <p>
      <form action="/urls" method="POST">
        <label for="newLongURL">Enter a URL to shorten:</label>
        <input id="newLongURL" type="text" name="newLongURL" placeholder="http://">
        <input type="submit" value="Submit">
      </form>
    </p>
  </body>
</html>
