<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <h1>tinyApp</h1>
  <p>
    <form method="POST" action="/login">
      E-mail address: <input type="text" name="email"><br />
      Password: <input type="password" name="password"><br />
      <input type="submit" value="Log in">
    </form>
 </p>
 <p>
   Not registered? Sign up <a href="/register">here</a>!
 </p>
</body>
</html>
