<!DOCTYPE html>
<html lang="en">
  <head>
  	<title></title>
  </head>
  <body>
    <h1>tinyApp</h1>
    <p>
	  <form action="/register" method="POST">
  	  Your e-mail address: <input type="email" name="email"><br />
  	  Choose a strong password: <input type="password" name="password"><br />
  	  <input type="submit" value="Submit">
	  </form>
    </p>
    <p>
      Already registered? Log in <a href="/login">here</a>!
    </p>
  </body>
</html>
