<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>

  <ul> Here are your long URLs and their short versions:
    <% for (i in userURLs) { %>
        <li><%= i %> - <%= userURLs[i] %>
          <a href="/urls/<%= i %>">Edit</a>
          <form method="POST" action="/urls/<%= i %>/delete">
            <button type="submit">Delete</button>
          </form>
        </li>
    <% }; %>
  </ul>

  <p>Got a new link to shorten? Click <a href="/urls/new">here</a>!</p>

</body>
</html>
