<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>

  <ul> Here are some long URLs and their short versions:
    <% for (key in URLs) { %>
        <li><%= key %> - <%= URLs[key] %>
          <a href="/urls/<%= key %>">Edit</a>
          <form method="POST" action="/urls/<%= URLs[key] %>/delete">
            <button type="submit">Delete</button>
          </form>
        </li>
    <% }; %>
  </ul>

  <p>Got a new link to shorten? Click <a href="/shorten">here!</a></p>

</body>
</html>
