<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
      <% include partials/_header %>
  </header>
  <form method="POST" action ="/urls/<%= shortURL %>">
    Update this TinyURL: <input type="text" name="newLongURL"> <button type="submit">I thought you'd never ask...</button></form>
</body>
</html>
