<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <p>
    <h2>TinyApp Login</h2>
    <form method="POST" action="/login">
      E-mail address: <input type="text" name="email">
      Password: <input type="password" name="password">
      <input type="submit" value="Log in">
    </form>
 </p>
</body>
</html>
