<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>TinyApp | Sign up</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <h2>TinyApp Registration</h2>
	  <form action="/register" method="POST">
  	  Your e-mail address: <input type="email" name="email">
  	  Choose a strong password: <input type="password" name="password">
  	  <input type="submit" value="Submit">
	  </form>
  </body>
</html>
